:root{
    --color-brand:#FD9222;
    --color-primary:#111;
    --color-primary-light: #FFFFFF;
    --color-background:#1E1823;
    --color-background-light:#FAFAFA;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: var(--color-primary);
    background-color: var(--color-background-light);
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
p,
h1,
h2,
h3,
h4,
h5,
h6{
    margin:0;

}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
button{
    font-family: inherit;
}
.header{
    padding-bottom:8px;
}
.visually-hidden { /**спрятать єлемент**/
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.heder-inner{
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap:24px;

}

.heder-socials{
    display: flex;
    gap: 18px;
    
}
.heder-nav{
    display: flex;
    gap: 24px;
    align-items: center;
    flex-grow: 1;
}
.logo{
    display: flex;
    gap: 4px;
    color:var(--color-primary);
    font-size: 18px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        align-items: center;
}
.logo-accent{
    font-style: italic;
}
.nav-list{
    display: flex;
    gap: 24px;
    flex-grow: 1;
    justify-content: center;
    
}
.nav-link{
    display: inline-block;
    color: var(--color-primary);
    cursor: pointer;
    font-size: 14px;
    font-style: normal;
        font-weight: 500;
        line-height: 1.14;
        letter-spacing: -0.02;
        padding: 24px 0;
}
.nav-link:hover{
    color: var(--color-brand);
}
.hero-section{
    padding-bottom: 72px;
}
.hero-inner{
    padding: 350px 40px 40px;
    background-color: var(--color-background);
    border-radius: 30px;
}
.hero-title{
    max-width: 484px;
    color: var(--color-primary-light);
    font-size: 28px;
    font-weight: 500;
    line-height: 1.21;
    letter-spacing: -0.03;
    padding-bottom: 32px;
}

.hero-actions{
    display: flex;
    align-items: center;
}

.button-primery{
    font-family: inherit;
    background-color:var(--color-brand);
    color:var(--color-primary-light); 
    border: none;
    border-radius: 100px;
    cursor: pointer;
    padding: 14px 40px;
    font-weight: 600;
}
.button-primery:hover{
    background-color:#FCF1E0;
    color:var(--color-brand);  
     
}
.hero-button{
    color: var(--color-primary-light);
    border: 1px solid currentColor;
    border-radius: 100px;
    padding: 14px 40px;
    line-height: normal;
    font-weight: 600;
    line-height: 1.21;
}
.hero-button:hover{
    color:var(--color-brand);
    border-color: var(--color-brand);
}
.hero-scroll-down{
    display: flex;
    align-items: center;
    ju
    gap:14px;
    color:var(--color-primary-light);
    background-color: #1E1823;
    font-weight: 500;
    letter-spacing: -0.03;
    margin-left:auto;

}
.hero-scroll-down:hover{
    color:var(--color-brand);

}
/*section- benefits*/
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding:0 32px;
}
.Benefits {
    padding: 50px 0;
    background-color: var(--color-background);
}
.advantage-list{
    display: flex;
    gap:70px;
}
.advantage-item:not(:last-child) {
    padding-right: 18px;
    border-right: 1px solid rgba(255, 255, 255, 0.50);

}
.benefits-title{
    color:var(--color-primary-light);
    font-size: 18px;
    font-weight: 600;
    line-height: 1.22;
    margin-bottom: 18px;
}
.benefits-text{
    color:rgba(255, 255, 255, 0.70);
    font-weight: 400;
    letter-spacing: -0.02em;
    line-height: 1.21;
}
.benefits-icon{
    margin-bottom: 22px;
    border: 1px solid rgba(255, 255, 255, 0.50);
    border-radius: 50%;
}

/**section Ingredients**/

.ingredients-title{
    margin-top:128px;
    text-align: center;
    margin-bottom: 28px;
}


.ingredients-subtitle{
    text-align: center;
    margin-bottom:50px;
}
.ingridients-list{
    display: flex;
    gap: 20px;
    flex-wrap:wrap;
}
.ingridients-ittem{
    flex-basis: calc((100%- 60px)/ 4);
}
.ingridients{
    border: 1px solid var(--color-brand);
    border-radius:15px;
    padding:28px;
}

.video-inner{
    display:flex;
    gap:20px;
}
.video-bg{
    border-radius: 15px;
    height: 100%;
    object-fit: cover;
}
.video-media{
    flex-basis: calc((100%-20px)/2);
}
/** display center button**/
.video-play{
    display: none;
}
.video-content{
    padding:32px;
    flex-basis: calc((100%-20px)/2);
}